body{
    background-image: url("https://cdn.pixabay.com/photo/2022/07/13/20/17/spaceship-7319999__340.jpg");
    background-size: cover;
}
img{
    margin: 20px;
}
.container{
    margin-left: 300px;
    border-style: solid;
    border-color: White;
    text-align: center;
}
.toggle{
    margin-right: 100px;
}
.scroll{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    height: 50%;
    color: white;
}
.heart{
    float: right;
    color: red;
}
li{
    color: white;
}
h1{
    color: white;
}